
SECRET_KEY =
SECURITY_PASSWORD_SALT =

SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:secret@db/linkdump'

SERVER_NAME =
BASE_URL = 'http:///'

DRAMATIQ_BROKER_URL = 'redis://redis/'

MAIL_SERVER = 'smtp.example.com'
MAIL_PORT = 465
MAIL_USE_SSL = True
MAIL_USERNAME =
MAIL_PASSWORD =
SECURITY_TRACKABLE = True

# https://pythonhosted.org/Flask-Security/configuration.html
SECURITY_REGISTERABLE = True

SECURITY_EMAIL_SUBJECT_REGISTER = 'Welcome to linkdump!'
SECURITY_CONFIRMABLE = True
SECURITY_CHANGEABLE = True
SECURITY_SEND_REGISTER_EMAIL = True
SECURITY_SEND_PASSWORD_CHANGE_EMAIL = True
SECURITY_SEND_PASSWORD_RESET_EMAIL = True
SECURITY_SEND_PASSWORD_RESET_NOTICE_EMAIL = True
