@font-face {
    font-family: Vollkorn;
    src: url("/static/vollkorn/EOT/Vollkorn-Regular.eot");
    src: local("Vollkorn"),
    url("/static/vollkorn/WOFF2/Vollkorn-Regular.woff2") format("woff2"),
    url("/static/vollkorn/WOFF/Vollkorn-Regular.woff") format("woff"),
    url("/static/vollkorn/TFF/Vollkorn-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Vollkorn;
    font-weight: bold;
    src: url("/static/vollkorn/EOT/Vollkorn-Bold.eot");
    src: local("Vollkorn Bold"),
    local("Vollkorn"),
    url("/static/vollkorn/WOFF2/Vollkorn-Bold.woff2") format("woff2"),
    url("/static/vollkorn/WOFF/Vollkorn-Bold.woff") format("woff"),
    url("/static/vollkorn/TFF/Vollkorn-Bold.ttf") format("truetype");
}

body {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    font-feature-settings: "liga";
    font-size: 1.2em;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}

li {
    list-style-type: square;
}

li > ul > li {
    list-style-type: disc;
}

* {
    line-height: 1.375em;
    font-family: Vollkorn, serif;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

h1 {
    font-size: 3em;
    line-height: 2.5em;
}

audio {
    width: 80%;
}

object {
    max-height: 60vh
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 800px) {
    .flex-row {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex-grow: 1;
    padding-right: 1em;
}

pre {
    background: #f4f4f4;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

blockquote {
    background: #f4f4f4;
    border-left: 1px solid #666;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-style: italic;
}