
<html lang="en">
<head>
    <title>{% block title %}linkdump{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
<section>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</section>
{% block content %}{% endblock %}

</body>


</html>
