
<html lang="en">
<head>
    <title>{% block title %}linkdump{% endblock %}</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div id="content">{% block content %}{% endblock %}</div>

</body>


</html>
