{% extends "_main.html.jinja2" %}
{% import "macros.html" as macros %}
{% block content %}

    <article>
        <h1>linkdump</h1>

        <div class="flex-row">
            <div class="flex-column">
                <div class="flex-item">
                    <h3>Hey, {{ current_user.email }}!</h3>

                    <p>
                        The content of the links you add is available to you as an Atom Feed. You can find
                        your feed {{ macros.link('here', url_for('atom_feed', _external=True)) }}.
                    </p>
                    <p>
                        This is your personal feed, and its password protected - so dont forget to set that up, when you
                        add
                        it to your feed reader. </p>
                    <p>If you dont like this page, you can also just use the {{ macros.link('API', 'api') }} to add more
                        URLs. :)</p>
                </div>
            </div>
            <div class="flex-column">
                <div class="flex-item">
                    <hr>
                    {{ macros.link('logout', url_for('security.logout')) }}<br>
                    {{ macros.link('change password', url_for('security.change_password')) }}<br>
                    <form action="" method="post" novalidate>
                        {{ feed_public_form.hidden_tag() }}
                        {{ feed_public_form.is_public() }}
                        {{ feed_public_form.feed_public_submit() }}
                    </form>

                    Public atom feeds on this server: <br>
                    {% if users_with_public_feed.all()|length == 0 %}
                        None!
                    {% endif %}
                    <ul>
                        {% for user in users_with_public_feed %}
                            <li>
                                <a href="{{ url_for('public_feed', username=user.username, _external=True) }}">{{ user.username }}</a><br>
                            </li>
                        {% endfor %}

                    </ul>
                    <hr>
                </div>

            </div>
        </div>

        <section>
            <div class="flex-row">
                <div class="flex-column">
                    <div class="flex-item">
                        <form action="" method="post" novalidate>
                            {{ add_item_form.hidden_tag() }}
                            {{ add_item_form.url(placeholder='https://' ) }}
                            {{ add_item_form.add_item_submit() }}
                        </form>
                    </div>
                    <div style="flex-grow: 1;">
                        <a href="{{ url_for('search') }}">search</a>
                    </div>
                </div>
            </div>
            <h3>Items</h3>

            {% for item in items_pagination.items %}
                {% if item.date_processing_finished %}
                    <dl>
                        <dt><a href={{ url_for('item', item_id=item.id) }}>{{ item.title }}</a></dt>
                        <dd>added {{ item.date_added }}</dd>
                    </dl>
                {% else %}
                    {{ item.source }} - processing...
                {% endif %}
            {% endfor %}

            {{ macros.render_pagination(items_pagination, 'index') }}

        </section>
    </article>
{% endblock %}

